html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font:1.6rem Helvetica;
    height: 100vh;
    margin:0
}
.grid-container{
    display:grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height:100%;
}
.header{
    grid-area: header;
    background-color:#203040;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem;

 
}
.brand a{
    color:white;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
}

.header-links a{
    text-decoration: none;
    color:white;
    margin-left: 20px;
}
#signin{
    margin-right:20px;
}

.header-links a:hover{
    color:rgb(167, 119, 32);
}
.main{
    grid-area: main;
}
.footer{
    background-color:#203040;
    color:white;
    grid-area: footer;
    display: flex;
  padding-left: 700px;
  align-items: center;
}
a{
    text-decoration: none;
}
a:hover{
    color:#ff8000;
}
/*Home Screen*/
.Products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.Products li{
    list-style-type: none;
    padding: 0;
    flex:0 1 34rem;
    margin:1rem;
    height:50rem;
    border-bottom: .1rem #c0c0c0 solid;
}
.Product{
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    height:100%;
}
.product-name{
    font-size: 2rem;
    font-weight: bold;

}
.product-brand{
    font-size: 1.3rem;
    color:#808080;
}
.product-price{
    font-size:2rem;
    font-weight: bold;
}
.product-image{
    max-width: 34rem;
    max-height:34rem ;
}
.product-rating{
    margin-bottom: 1rem;
}
/*Side bar*/
.brand button{
    font-size: 3rem;
    padding: .5rem;
    background: none;
    color:#ffff;
    border: none;
    cursor: pointer;
}
.sidebar{
    position: fixed;
    transform:translateX(-30rem) ;
    width:30rem;
    background-color: #f0f0f0;
    height: 100%;
}
.sidebar.open{
    transform: translateX(0);
}
.sidebar-close{
    border-radius: 50%;
    border:.1rem black solid;
    width:3rem;
    height: 3rem;
    padding:.5rem;
    font-size: 2rem;
    padding-top: 0px;
    cursor: pointer;
position: absolute;
right: .5rem;
top:1.5rem;

}



