<!DOCTYPE html>
<html>
    <head>
        <script src="index.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
<title>ForHer - DigitalClothes</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <button onclick="openMenu()">
                     &#9776;   
                    </button>
                    <a href="index.html">ForHer - DigitalClothes</a>
                </div>
                <div class="header-links">
                    <a href="cart.html" id='cart'>Cart</a>
                    <a href="signin.html" id='signin'>Sign In</a>
                </div>
            </header>
            <aside class="sidebar">
                <h3>Shopping Categories</h3>
                <button class="sidebar-close" onclick="closeMenu()">x</button>
                <ul>
                    <li>
                        <a href="index.html">Chudithar</a>
                    </li>
                    <li>
                        <a href="index.html">Saree</a>
                    </li>
                    <li>
                        <a href="index.html">Jeans</a>
                    </li>
                </ul>
            </aside>
           
            <main  class="main">
                <div class="content">
                    <ul class="Products">
                        <li>
                            <div class="Product">
                               <div class="product-image"> <img src="images/slimchudithar.jpg" alt="slimchudithar"></div>
                                <div class="product-name">
                                    <a href="product.html">Slim Chudithar</a></div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$ 60</div>
                                <div class="product-rating">4.5 Starts (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="Product">
                               <div class="product-image"> <img src="images/slimchudithar.jpg" alt="slimchudithar"></div>
                                <div class="product-name">
                                    <a href="product.html">Slim Chudithar</a></div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$ 60</div>
                                <div class="product-rating">4.5 Starts (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="Product">
                               <div class="product-image"> <img src="images/slimchudithar.jpg" alt="slimchudithar"></div>
                                <div class="product-name">
                                    <a href="product.html">Slim Chudithar</a></div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$ 60</div>
                                <div class="product-rating">4.5 Starts (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="Product">
                               <div class="product-image"> <img src="images/slimchudithar.jpg" alt="slimchudithar"></div>
                                <div class="product-name">
                                    <a href="product.html">Slim Chudithar</a></div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$ 60</div>
                                <div class="product-rating">4.5 Starts (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="Product">
                               <div class="product-image"> <img src="images/slimchudithar.jpg" alt="slimchudithar"></div>
                                <div class="product-name">
                                    <a href="product.html">Slim Chudithar</a></div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$ 60</div>
                                <div class="product-rating">4.5 Starts (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="Product">
                               <div class="product-image"> <img src="images/slimchudithar.jpg" alt="slimchudithar"></div>
                                <div class="product-name">
                                    <a href="product.html">Slim Chudithar</a></div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$ 60</div>
                                <div class="product-rating">4.5 Starts (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="Product">
                               <div class="product-image"> <img src="images/slimchudithar.jpg" alt="slimchudithar"></div>
                                <div class="product-name">
                                    <a href="product.html">Slim Chudithar</a></div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$ 60</div>
                                <div class="product-rating">4.5 Starts (10 Reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="Product">
                               <div class="product-image"> <img src="images/slimchudithar.jpg" alt="slimchudithar"></div>
                                <div class="product-name">
                                    <a href="product.html">Slim Chudithar</a></div>
                                <div class="product-brand">Nike</div>
                                <div class="product-price">$ 60</div>
                                <div class="product-rating">4.5 Starts (10 Reviews)</div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
               
            </main>
            <footer  class="footer">
                All rights reserved.
            </footer>
        </div>
       

    </body>
</html>